{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="managerapp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Expense Board</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript">
            var ANGULAR_TEMPLATE_PATH = "{{ STATIC_URL }}";
        </script>
        <!-- inject:css -->
        <link rel="stylesheet" href="{% static "expense/css/fontawesome/scss/font-awesome.css" %}" />
        <!-- endinject -->

        <!-- bower:css -->
        <link rel="stylesheet" href="{% static "../static/expense/bower_components/bootstrap/dist/css/bootstrap.css" %}" />
        <link rel="stylesheet" href="{% static "../static/expense/bower_components/angular-xeditable/dist/css/xeditable.css" %}" />
        <link rel="stylesheet" href="{% static "../static/expense/bower_components/fontawesome/css/font-awesome.css" %}" />
        <!-- endbower -->

    </head>
    <body class='container'>
            <div class='row jumbotron' ng-controller="expenseController">
                    <div ng-repeat="exp in explist">
                        <div expense ob="exp" update-parent="saveExpense(d, cb)"> </div>
                    </div>
            </div>

        <!-- bower:js -->
        <script src="{% static "../static/expense/bower_components/angular/angular.js" %}" type="text/javascript" charset="utf-8"></script>
        <script src="{% static "../static/expense/bower_components/angular-bootstrap/ui-bootstrap-tpls.js" %}" type="text/javascript" charset="utf-8"></script>
        <script src="{% static "../static/expense/bower_components/jquery/dist/jquery.js" %}" type="text/javascript" charset="utf-8"></script>
        <script src="{% static "../static/expense/bower_components/bootstrap/dist/js/bootstrap.js" %}" type="text/javascript" charset="utf-8"></script>
        <script src="{% static "../static/expense/bower_components/angular-xeditable/dist/js/xeditable.js" %}" type="text/javascript" charset="utf-8"></script>
        <!-- endbower -->

        <!-- inject:js -->
        <script src="{% static "expense/js/app.js" %}" type="text/javascript" charset="utf-8"></script>
        <!-- endinject -->
    </body>
</html>
