{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="managerapp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Expense Board</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript">
        var ANGULAR_TEMPLATE_PATH = "{{ STATIC_URL }}";
        var YEAR = {{ year|default:0 }};
        var MONTH = {{ month | default:0 }};
        var DAY = {{ day | default:0 }};
        </script>
        <!-- inject:css -->
        <link rel="stylesheet" href="{% static "expense/css/fontawesome/scss/font-awesome.css" %}" />
        <!-- endinject -->

        <!-- bower:css -->
        <link rel="stylesheet" href="{% static "../static/expense/bower_components/bootstrap/dist/css/bootstrap.css" %}" />
        <link rel="stylesheet" href="{% static "../static/expense/bower_components/fontawesome/css/font-awesome.css" %}" />
        <!-- endbower -->

    </head>
    <body class='container'>
    <div ng-controller="expenseController">
        <div class="row">
            <div class="col-xs-6">
                <h4 ng-if="!doing"> <i class="fa fa-inr"></i>: [[ sum(explist, 'amount') ]]</h4>
                <h4 ng-if="doing"> <i class="fa fa-spinner fa-pulse"></i></h4>
            </div>
            <div class="pull-right" class="col-xs-6">
                <input type="text"  ng-model=filterWord>
            </div>
        </div>
        <div class="row">
            <div id="expAccordian" class="panel-group">
                <div expense ob="exp" taglist="taglist" class="panel panel-default" \
                    delete-parent="delExpense(d, cb)"\ 
                    update-parent="saveExpense(d, cb)"\
                    ng-repeat="exp in explist | orderBy : parseDate | filter:filterWord"> 
                </div>
            </div>
        </div>
    </div>

        <!-- bower:js -->
        <script src="{% static "../static/expense/bower_components/angular/angular.js" %}" type="text/javascript" charset="utf-8"></script>
        <script src="{% static "../static/expense/bower_components/angular-bootstrap/ui-bootstrap-tpls.js" %}" type="text/javascript" charset="utf-8"></script>
        <script src="{% static "../static/expense/bower_components/jquery/dist/jquery.js" %}" type="text/javascript" charset="utf-8"></script>
        <script src="{% static "../static/expense/bower_components/bootstrap/dist/js/bootstrap.js" %}" type="text/javascript" charset="utf-8"></script>
        <!-- endbower -->

        <!-- inject:js -->
        <script src="{% static "expense/js/app.js" %}" type="text/javascript" charset="utf-8"></script>
        <!-- endinject -->
    </body>
</html>
