
{% extends 'base.html' %}


{%block initialize_javascript%}

$('.expense').editable();
$('.friendadder').editable({
    source :function(){
    var values=[];
    $.each(
        {{ many_friends|safe}}
        ,function(k,v){
            values.push({id:k,text:v})
            });
        return values;
    },
    select2 : {
        multiple : true
        }
});



$('.mytag').editable({
select2:{
tags: {{all_tag|safe}},
tokenSeparators: [",", " "],
}
});
{%endblock%}

{% block manager_details%}
    <div class='container'>
    <div class='row'>
        <div class='col-md-8 col-md-offset-2 jumbotron'>

            <table id="id_expenses_table" class='table'>
                {% for item in expenses.all %}
                <tr>
                    {{ item|safe }} 
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>


{% endblock %}
