{% load static %}
<!DOCTYPE html>
<html ng-app="dailyapp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Daily Board</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript">
        var ANGULAR_TEMPLATE_PATH = "{{ STATIC_URL }}";
        </script>

    </head>
    <body class='container'>
    <div ng-controller="dailyController">
        <div class="row">
            <div class="pull-right" >
                <div >
                    <h4 ng-if="dirty_order" class="pull-left" align="center"> <button class="btn btn-sm btn-default" ng-click="uploadorder()"><i class="fa fa-cloud">Save Order </i></button> </h4>
                    <h4 ng-if="!doing && !dirty_order" class="pull-left" align="center">Loaded <i class="fa fa-check-square-o"></i></h4>
                    <h4 ng-if="doing" class="pull-left" align="center"> <i class="fa fa-spinner fa-pulse"></i></h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="tskAccordian" class="panel-group">
                <div task daily="t" baseurl="dailyurl" class="panel panel-default" swaporder="swapdailies" ng-repeat="t in dailies | orderBy:'order'"> </div>
                <div dummy baseurl="taskurl" newtypeadded="newtaskadded(daily)" newtypeallowed="newtaskallowed(type)" 
                     class="panel panel-default" > </div>
            </div>
        </div>
        
        <div style="position: fixed; z-index: 9999; bottom: 20px; right: 20px; width: 300px;" >
            <alert ng-repeat="alert in alerts"
            dismiss-on-timeout=2000 
            close="closeAlert($index)"
            type="[[alert.type]]" > [[alert.msg]] </alert>
        </div>
    </div>

        <!-- inject:css -->
        <!-- <link rel="stylesheet" href="{% static "expense/css/fontawesome/scss/font-awesome.css" %}" /> -->
        <!-- endinject -->

        <!-- bower:css -->
        <link rel="stylesheet" href="{% static "../static/expense/bower_components/bootstrap/dist/css/bootstrap.min.css" %}" />
        <link rel="stylesheet" href="{% static "../static/expense/bower_components/fontawesome/css/font-awesome.css" %}" />
        <!-- endbower -->

        <!-- bower:js -->
        <script src="{% static "../static/expense/bower_components/angular/angular.min.js" %}" type="text/javascript" charset="utf-8"></script>
        <script src="{% static "../static/expense/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js" %}" type="text/javascript" charset="utf-8"></script>
        <script src="{% static "../static/expense/bower_components/jquery/dist/jquery.min.js" %}" type="text/javascript" charset="utf-8"></script>
        <script src="{% static "../static/expense/bower_components/bootstrap/dist/js/bootstrap.min.js" %}" type="text/javascript" charset="utf-8"></script>
        <!-- endbower -->

        <!-- inject:js -->
        <script src="{% static "daily/js/app.js" %}" type="text/javascript" charset="utf-8"></script>
        <!-- endinject -->
    </body>
</html>
