<div class="panel-heading">
    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#tskAccordian" href="#ob[[ ob.id ]]"
            ng-if="ob.type != 'dummy'" > [[ ob.type ]]</a>
        <input ng-if="ob.type == 'dummy'" ng-model=newtask.type ></input>    

        <button href ng-click="toggle()" ng-enabled=!saving
            class="pull-right"
            ng-class="ob.donetoday ? 'btn btn-sm btn-success' : 'btn btn-sm btn-default'" >
            [[ob.donetoday ? 'Done Today :)': 'Not Yet :(']] </button>
    </h4>
    <div class="clearfix"></div>
</div>
<div id="ob[[ob.id]]" class="panel-collapse collapse">
    <div class="panel-body">
        <h4 class="label label-success">
            Nothing ;)
        </h4>
    </div>
</div>
